.carrito {
  position: absolute;
  right: 2%;
}

.icon-carrito {
  font-size: 18px;
}

.button-carrito {
  background-color: #ffcf57;
  border: none;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  color: #000;
  cursor: pointer;
}

@media (max-width: 768px) {
  .icon-carrito {
    font-size: 15px;
  }
  .button-carrito {
    width: 35px;
    height: 35px;
  }
}

